In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/celebrity-deaths/celebrity_deaths_4.csv

In [3]:
import charset_normalizer as chz

with open('/kaggle/input/celebrity-deaths/celebrity_deaths_4.csv','rb') as fle:
    detect = chz.detect(fle.read(100000))
    print(detect)

{'encoding': 'mac_latin2', 'language': 'English', 'confidence': 0.9938}

In [4]:
df = pd.read_csv('/kaggle/input/celebrity-deaths/celebrity_deaths_4.csv', encoding='mac_latin2')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21458 entries, 0 to 21457
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             21458 non-null  int64
 1   birth_year      21458 non-null  int64
 2   cause_of_death  8974 non-null   object
 3   death_month     21458 non-null  object
 4   death_year      21458 non-null  int64
 5   famous_for      21440 non-null  object
 6   name            21458 non-null  object
 7   nationality     21458 non-null  object
 8   fame_score      19852 non-null  float64
dtypes: float64(1), int64(3), object(5)
memory usage: 1.5+ MB

In [6]:
df.head()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,age,birth_year,cause_of_death,death_month,death_year,famous_for,name,nationality,fame_score
0,85,1921,natural causes,January,2006,businessman chairman of IBM (1973ČŘ“1981),Frank Cary,American,1.0
1,49,1957,murdered,January,2006,musician (House of Freaks Gutterball),Bryan Harvey,American,2.0
2,64,1942,Alzheimer's disease,January,2006,baseball player (Oakland Athletics),Paul Lindblad,American,1.0
3,86,1920,Alzheimer's disease,January,2006,politician Representative from Oregon (1957ČŘ...,Charles O. Porter,American,2.0
4,82,1924,cancer,January,2006,nightclub owner (Tropicana Club),Ofelia Fox,Cuban,NaN

In [7]:
df_clean = df.dropna()

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(max_features=100, ngram_range=(2,2), stop_words='english')

In [10]:
csr_bi = count.fit_transform(df_clean.famous_for)

In [12]:
df_bi = pd.DataFrame(csr_bi.toarray(),columns=count.get_feature_names_out())

In [13]:
df_bi.sum().sort_values(ascending=False)

football player          384
politician member        360
baseball player          211
house representatives    208
new york                 187
                        ...
green bay                 19
judge member              19
league player             19
newspaper editor          19
academy award             19
Length: 100, dtype: int64

In [14]:
count_tri = CountVectorizer(max_features=100, ngram_range=(3,3), stop_words='english')
csr_tri = count_tri.fit_transform(df_clean.famous_for)

df_tri = pd.DataFrame(csr_tri.toarray(), columns=count_tri.get_feature_names_out())

In [15]:
df_tri.sum().sort_values(ascending=False)

roman catholic prelate        82
ice hockey player             67
politician member house       53
catholic prelate bishop       50
politician prime minister     49
                              ..
pulitzer prize winner         10
new york state                10
film director screenwriter    10
player pittsburgh steelers    10
toronto maple leafs           10
Length: 100, dtype: int64

In [16]:
count_quad = CountVectorizer(max_features=100, ngram_range=(4,4), stop_words='english')
csr_quad = count_quad.fit_transform(df_clean.famous_for)
df_quad = pd.DataFrame(csr_quad.toarray(), columns=count_quad.get_feature_names_out())

In [17]:
df_quad.sum().sort_values(ascending=False)

roman catholic prelate bishop              50
politician member house representatives    42
baseball player new york                   17
football player detroit lions              17
football player new york                   15
                                           ..
member missouri house representatives       5
new york state assembly                     5
basketball player los angeles               5
football player new orleans                 5
hockey player montreal canadiens            5
Length: 100, dtype: int64