Project: Mobile App for Lottery Addiction

**Fictional**
Many people start playing the lottery for fun, but for some this activity turns into a habit which eventually escalates into addiction.

A medical institute that aims to prevent and treat gambling addictions wants to build a dedicated mobile app to help lottery addicts better estimate their chances of winning. The institute has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities.

For the first version of the app, they want us to focus on the 6/49 lottery and build functions that enable users to answer questions like:

What is the probability of winning the big prize with a single ticket?
What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
What is the probability of having at least five (or four, or three, or two) winning numbers on a single ticket?

In [1]:

def factorial(n):
    total = 1
    for i in range(n,1,-1):
        total*=i
    return total

def combinations(n,k):
    calc = factorial(n)/(factorial(k)*factorial(n-k))
    return calc

For the first version of the app, we want players to be able to calculate the probability of winning the big prize with the various numbers they play on a single ticket (for each ticket a player chooses six numbers out of 49). So, we'll start by building a function that calculates the probability of winning the big prize for any given ticket.

We discussed with the engineering team of the medical institute, and they told us we need to be aware of the following details when we write the function:

Inside the app, the user inputs six different numbers from 1 to 49.
Under the hood, the six numbers will come as a Python list, which will serve as the single input to our function.
The engineering team wants the function to print the probability value in a friendly way â€” in a way that people without any probability training are able to understand.

In [2]:
def one_ticket_probability(lis=[]):
    total_outcomes = combinations(49,6)
    probability = 1/total_outcomes
    print('You have a {}% chance of winning.'.format(probability*100))

In [3]:
one_ticket_probability()

You have a 7.151123842018516e-06% chance of winning.

In [4]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('649.csv')#Read data

In [6]:
data.shape #display rows and columns

(3665, 11)

In [7]:
data.head(3)#display first three rows

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [8]:
data.tail(3)#display last three rows

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

The engineering team told us that we need to be aware of the following details:

Inside the app, the user inputs six different numbers from 1 to 49.

Under the hood, the six numbers will come as a Python list and serve as an input to our function.

The engineering team wants us to write a function that prints:
- the number of times the combination selected occurred in the Canada data set; and
- the probability of winning the big prize in the next drawing with that combination.

In [25]:
cols = data.columns[4:-1]
def extract_numbers(row):
    nums =set()
    for i in cols:
        nums.add(row[i])
    return nums
num_set = data.apply(extract_numbers,axis=1)
num_set

0        {3, 41, 11, 12, 43, 14}
1        {33, 36, 37, 39, 8, 41}
2         {1, 6, 39, 23, 24, 27}
3         {3, 9, 10, 43, 13, 20}
4        {34, 5, 14, 47, 21, 31}
5        {8, 41, 20, 21, 25, 31}
6       {33, 36, 42, 18, 25, 28}
7        {7, 40, 16, 17, 48, 31}
8        {5, 38, 37, 10, 23, 27}
9        {4, 37, 46, 15, 48, 30}
10        {33, 38, 7, 9, 42, 21}
11      {36, 11, 43, 17, 19, 20}
12       {37, 7, 14, 47, 17, 20}
13      {35, 44, 25, 28, 29, 30}
14       {36, 39, 8, 41, 47, 18}
15       {9, 12, 13, 14, 44, 48}
16       {4, 40, 43, 44, 14, 18}
17      {34, 35, 36, 13, 16, 18}
18      {36, 11, 23, 25, 28, 29}
19       {37, 7, 45, 18, 23, 25}
20      {37, 11, 45, 18, 19, 31}
21       {8, 14, 16, 48, 18, 31}
22       {4, 11, 45, 23, 24, 25}
23        {33, 34, 3, 4, 48, 19}
24       {5, 43, 17, 21, 28, 30}
25       {36, 6, 38, 46, 17, 24}
26        {4, 9, 10, 11, 43, 46}
27       {32, 33, 7, 13, 45, 23}
28      {35, 37, 11, 18, 22, 28}
29      {35, 45, 48, 25, 26, 31}
                  ...
3635     {2, 10, 43, 44, 48, 28}
3636      {1, 33, 9, 10, 43, 19}
3637    {35, 43, 44, 46, 16, 17}
3638       {1, 5, 39, 9, 41, 12}
3639     {9, 11, 45, 49, 28, 30}
3640    {11, 12, 46, 19, 24, 28}
3641      {3, 7, 43, 47, 22, 26}
3642       {34, 6, 8, 9, 40, 13}
3643    {36, 40, 47, 49, 18, 22}
3644      {32, 3, 7, 41, 10, 43}
3645     {1, 36, 11, 48, 49, 19}
3646    {39, 12, 17, 19, 22, 27}
3647    {41, 12, 49, 19, 20, 30}
3648    {40, 10, 46, 14, 16, 15}
3649    {33, 34, 44, 46, 24, 31}
3650      {4, 37, 36, 7, 49, 28}
3651     {33, 4, 48, 18, 24, 26}
3652    {36, 37, 15, 17, 21, 24}
3653     {34, 37, 6, 44, 17, 21}
3654    {39, 46, 19, 21, 28, 30}
3655    {34, 38, 44, 14, 15, 28}
3656      {4, 9, 42, 44, 15, 20}
3657    {39, 12, 13, 44, 16, 23}
3658     {38, 39, 9, 14, 17, 21}
3659     {32, 2, 40, 45, 49, 26}
3660    {38, 40, 41, 10, 15, 23}
3661    {36, 46, 47, 19, 25, 31}
3662     {32, 34, 6, 22, 24, 31}
3663     {2, 38, 15, 49, 21, 31}
3664    {35, 37, 14, 48, 24, 31}
Length: 3665, dtype: object

Wrote a function to extract the lottery winning numbers.

In [29]:
def check_historical_occurence(listt,win_set):
    st = set(listt)
    times = 0# number of times combination occurred
    for i in range(1,3665):
        if win_set[i] == st:
            times+=1
            
    print('This combination of values has occurred {} times in the past.'.format(times))
    probability = times/combinations(49,6)
    print('The probability of winning is {}%'.format(probability*100))

Wrote a function compute the probability of winning with a combination.
Checked how many times the combination has occurred in the past.

In [30]:
check_historical_occurence([35, 37, 14, 48, 24, 31],num_set)

This combination of values has occurred 1 times in the past.
The probability of winning is 7.151123842018516e-06%

Lottery addicts usually play more than one ticket on a single drawing, thinking that this might increase their chances of winning significantly. Our purpose is to help them better estimate their chances of winning â€” on this screen, we're going to write a function that will allow the users to calculate the chances of winning for any number of different tickets.

We've talked with the engineering team and they gave us the following information:

The user will input the number of different tickets they want to play (without inputting the specific combinations they intend to play).
Our function will see an integer between 1 and 13,983,816 (the maximum number of different tickets).
The function should print information about the probability of winning the big prize depending on the number of different tickets played.

In [39]:
def multi_ticket_probability(no_of_tickets):
    total_outcomes = combinations(49,6)
    #calculate probability of winning once from the tickets
    probability = 1/total_outcomes
    print('The probability of winning is {}%'.format(probability*100))

Wrote a function to calculate the probability of winning with multiple tickets.
Testing the function below.

In [40]:
multi_ticket_probability(1)
multi_ticket_probability(10)
multi_ticket_probability(100)
multi_ticket_probability(10000)
multi_ticket_probability(1000000)
multi_ticket_probability(6991908)
multi_ticket_probability(13983816)

The probability of winning is 7.151123842018516e-06%
The probability of winning is 7.151123842018516e-06%
The probability of winning is 7.151123842018516e-06%
The probability of winning is 7.151123842018516e-06%
The probability of winning is 7.151123842018516e-06%
The probability of winning is 7.151123842018516e-06%
The probability of winning is 7.151123842018516e-06%

writing one more function to allow the users to calculate probabilities for two, three, four, or five winning numbers.

For extra context, in most 6/49 lotteries there are smaller prizes if a player's ticket match two, three, four, or five of the six numbers drawn. As a consequence, the users might be interested in knowing the probability of having two, three, four, or five winning numbers.

What is the probability of having exactly five winning numbers?
What is the probability of having at least five winning numbers?

In [41]:
def probability_less_6(n):
    #takes in an integer between 2 and 5 and 
    #prints information about the chances of winning depending on the value of that integer
    out = combinations(6,n)#number of combinations with the winning numbers
    successful = out * combinations(49-n,6-n)#number of successful outcomes
    total= combinations(49,6)
    probabilty = successful/total
    print('The having {} winning numbers is {}'.format(n,probability*100))

In [ ]:
probability_less_6()